<p id="notice"><%= notice %></p>

<p>
  <strong>To:</strong>
  <%= @dlr.to %>
</p>

<%= link_to 'Edit', edit_dlr_path(@dlr), :class => "button" %>
<%= link_to 'Back', dlrs_path, :class => "button" %>
