<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @mo.status %>
</p>

<%= link_to 'Edit', edit_mo_path(@mo), :class => "button" %>
<%= link_to 'Back', mos_path, :class => "button" %>
